body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;

  background-image: url('../static/tile.png');
  background-color: #e0f7fa;
  background-repeat: repeat;
  background-size: 300px;
}